

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #2d2d2d;
    font-family: 'Roboto Mono', monospace;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i {
    margin-bottom: 1.75rem;
    color: #8bff6b;
}

input {
    width: 5rem;
    height: 2rem;
}

button {
    width: 5.2rem;
    height: 2rem;
    margin: 1rem .25rem;
    background-color: #8bff6b;
    border-radius: 15px;
    border-color: black;
    font-size: .90rem;
    letter-spacing: .05rem;
}

.buttons {
    display: flex;
    margin-bottom: .5rem;
    margin-top: .25rem;
}

.btnSet1 {
    margin-right: .25rem;
}

.btnSet2 {
    margin-left: .25rem;
}

form p {
    color: #8bff6b;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (max-width: 420px) {
    
    .btnSet1, .btnSet2 {
        margin-left: 0;
        margin-right: 0;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
    }
}
